<header class="clearfix">
  <h1><span>Pitchfinder</span> | </h1>
  <form>
    <label for="pitch-id">Pitch ID:&nbsp;</label>
    <input [(ngModel)]="pitchId" id="pitch-id" type="text" class="form-control" name="pitch-id" />
    <label for="start-date">Start date:&nbsp;</label>
    <app-date-picker [(date)]="starts" class="date-picker"></app-date-picker>
    <label for="end-date">End date:&nbsp;</label>
    <app-date-picker [(date)]="ends" class="date-picker"></app-date-picker>
    <app-button (onclick)="search()">Search</app-button>
  </form>
</header>