@import '../../../colours';

button {
  border: none;
  border-radius: 3px;
  background-color: $green;
  color: $offWhite;
  outline: none;

  &:hover, &:active, &:visited {
    background-color: $lightGreen !important;
    color: $offWhite;
    border: none;
  }
}