@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "./colours";

@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Medium.ttf);
}

body {
  padding: 10px;
  background: $offWhite;
  color:  $offBlack;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

a {
  color: $green;
  text-decoration: none;
  &:hover {
    color: $green;
    text-decoration: underline;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

ngb-datepicker.dropdown-menu {
  background-color: $lightGreen;
}